/* H1-H6 edit*/
h1 {
  background-color: rgb(119,136,153);
  color: white;
  text-align: center;
  
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


.hem {
  background-color: #04AA6D;
}

.kod {
  text-align: right;
  font-size: 30px ;
  position: absolute;
  bottom: 5px;
  right: 15px;
}


.hackad {
  
  font-size: 10px ;
  position: absolute;
  bottom: 10px;
  right: 10px;
}



p {
  font-family: verdana;
  font-size: 20px;
}



.min { 
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 8px black, 0 0 25px blue, 0 0 15px darkblue;
}
body {color: rgb(255, 255, 255);}


select {
  width: 20%;
  padding: 16px 20px;
  border:none; 
  border-radius: 14px;
  background-color:lightgrey ,
  
}


.button {
  background-color :lightgreen; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}
 .form {
  text-align:center
  }    

   form {
    margin:10px; 
    padding: 0 5px;
    text-align:center
   
   
  }
  label {
    display:block;
    font-weight:bold;
    margin:5px 0;
  } 
  


  


 